/*Link externo para fonte Google Fonts*/
@import url('https://fonts.googleapis.com/css?family=Changa:500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
/*Link externo para fonte*/

body {
    margin: 0px;
    /*background: linear-gradient(125.42deg,
                         #99A6C3 1.56%,
                         rgba(111, 145, 179, 0.92) 17.71%,
                         rgba(88, 108, 161, 0.89) 33.33%,
                         rgba(19, 49, 108, 0.79) 48.44%,
                         #2D3652 66.67%,
                         rgba(6, 9, 19, 0.91) 84.9%,
                         #060812 100%);*/
        
    /*background-color: #16161f;*/
    background-color: rgba(228, 220, 220, 0.712);
    color: rgb(107, 107, 109);
}

h3 {
    justify-content: center;
    margin: 0;
    display: flex;
    color: rgb(40, 0, 56);
}

a {
    text-decoration: none;
}

/*Estilização das linhas de divisão do site*/
.linhas{
	width: 100%;
	height: 1px;
		
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1727fa+0,ffbf00+100 */
	background: #1727fa; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  #1727fa 0%, #2866ec 100%); /* FF3.6-15 */
	background: -webkit-radial-gradient(center, ellipse cover,  #1727fa 0%,#2866ec 100%); /* Chrome10-25,Safari5.1-6 */
	background: radial-gradient(ellipse at center,  #1727fa 0%,#2866ec 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1727fa', endColorstr='#2866ec',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	
}
/*Estilização das linhas de divisão do site*/

/*Estilizando barra de rolagem*/
	/*Para Chrome, Safari, Opera 15+*/
	/* Personalização da barra em geral. Definição de largura para a barra vertical */
    ::-webkit-scrollbar{
        /*background:#610725;*/
        width:3px;
    }
    
        /* Personalização do fundo da barra*/
    ::-webkit-scrollbar-track {
        /*background:#541307;*/
        background: coral;       
    }
     
        /* Personaização da alça da barra. Demonstra a altura que você está na página*/
    ::-webkit-scrollbar-thumb {
        /*background: #ED145b;*/
        background: #1727fa;
        -webkit-border-radius:10px;
        border-radius: 5px;
    }
    
        /*Internet Explorer*/
   
/*Estilizando barra de rolagem*/


/*Inicio Estilização de Banner Topo*/
.topo {
    background-color: rgb(0, 22, 15);
    display: flex;
    height: 250px;
}

.logo{
    background-color: azure;
    flex:1;
    margin-left: 350px;
    margin-right: 350px;
    margin-top: 75px;
    height: 100px;
}
/*Fim Estilização de Banner Topo*/

/*Inicio Estilização de Banner Imagem Panorâmica*/
.imagem {
    height: 230px;
    flex: 1;
}
/*Fim Estilização de Banner Imagem Panorâmica*/

/*Slider*/
.slideshow {
    display: flex;
    overflow: hidden;
}

.slideshowarea { /*realiza o movimento*/
    display: inline-flex;
    width: 10000px;
    height: 640px;
    transition: all 1s;
}

.slide {
    display: inline-flex;
    height: 640px;
    flex: 1;
}

#slide1 {
    background-image: url('../imagens/realistas/imacs.jpg');
    background-position: center;
    background-size: cover;
}

#slide2 {
    background-image: url('../imagens/realistas/celulares.jpg');
    background-position: center;
    background-size: cover;
}

#slide3 {
    background-image: url('../imagens/realistas/notes.jpg');
    background-position: center;
    background-size: cover;
}


.slideinfo {
    display: flex;
    flex: 1;
    height: 110px;
    background-image: url('../imagens/slideshow_bg.png');
    background-size: auto 110px;
    margin-top: 530px;
    flex-direction: column;
}

.slideinfo_titulo {
    display: flex;
    flex: 1;
    font-family: 'Changa', Arial, Helvetica, sans-serif;
    font-size: 28px;
    color: coral;
    padding-top: 10px;
    padding-left: 20px;
}

.slideinfo_subtitulo {
    display: flex;
    flex: 1;
    font-family: 'Changa', Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #ffffff;
    padding-left: 20px;
}

.slidebolinhas {
    position: absolute;
    width: 200px;
    height: 20px;
    margin-left: 5px;
}

.bolinha {
    width: 20px;
    height: 20px;
    float: left;
    margin-right: 5px;
    margin-top: 5px;
    cursor: pointer;
    background-color: gold;
    border-radius: 10px;
}
/*Slider*/


/*Inicio Estilização de Banner Marcas*/
.banner {
    display: flex;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
}

.banner1 {
    flex: 1;
    background-color: rgb(187, 187, 187);
}

.categorias {
    padding-bottom: 25px;
    flex: 1;
    font-size: 25px;
    color: rgb(168, 45, 0);
    font-family: 'Changa', Arial, Helvetica, sans-serif;
    background-color: rgb(187, 187, 187);
}

.banner2{
    flex: 1;
    background-color: rgb(211, 211, 211);
}

.marcas {
    padding-bottom: 25px;
    flex: 2;
    font-size: 25px;
    color: rgb(168, 45, 0);
    font-family: 'Changa', Arial, Helvetica, sans-serif;
    background-color: #D3D3D3;
}

.org1{
    height: 140px;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.org2{
    height: 140px;
    display: flex;
    justify-content: center;
}

.org3{
    height: 100px;
    padding-top: 20px;
    display: flex;
    justify-content: center;
}

#acer{
    width: 150px;
    height: 125px;
    padding-right: 70px;}

#apple{
    width: 155px;
    height: 135px;
    padding-right: 70px;
}

#android {
    width: 130px;
    height: 100px;
    padding-bottom: 25px;
}

#asus {
    width: 190px;
    height: 40px;
    padding-right: 70px;
    padding-top: 40px;
}

#dell {
    width: 125px;
    height: 125px;
    padding-right: 70px;
}

#lenovo {
    width: 190px;
    height: 40px;
    padding-top: 35px;
}

#lg {
    width: 150px;
    height: 55px;
    padding-right: 70px;    
}

#positivo {
    padding-top: 5px;
    width: 225px;
    padding-right: 70px;
    height: 100px;
}

#samsung {
    width: 230px;
    height: 45px;
    padding-bottom: 15px;
}

#sony {
    width: 205px;
    height: 50px;
    padding-right: 70px;
}

#vaio {
    width: 220px;
    height: 45px;
    padding-right: 70px;
}
/*Fim Estilização de Banner Marcas*/

/*Inicio Estilização de Banner Horários*/
.informacoes-horarios {
    margin-top: 50px;
    display: flex;
}

.horarios{
    flex: 2;
    font-size: 25px;
    padding-top: 30px;
    color: coral;
    font-family: 'Changa', Arial, Helvetica, sans-serif;
    background-color: rgb(55, 133, 211);
}


ol {
    list-style-type: none;
    padding-inline-start: 0px;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.horarios-info {
    display: flex;
    height: 200px;
    font-size: 22px;
}

.horarios-info1, .horarios-info2 {
    flex: 1;
    display: flex;
    padding-top: 10px;
}

.horarios-info1{
    justify-content: flex-end;
}

.horarios-info2{
    justify-content: flex-start;
}

li {
    color: rgba(255, 255, 255, 0.89);
    font-family: 'Lato', Verdana, Geneva, Tahoma, sans-serif;
}

.horarios-info1 li, .horarios-info2 li {
    padding-top: 30px;
}

.horarios-info1 li {
    padding-right: 160px;
}

.horarios-info2 li {
    padding-left: 160px;
}
/*Fim Estilização de Banner Horários*/


/*Inicio Estilização de Banner Contatos*/
.contato {
    flex: 1;
    padding-top: 30px;
    font-size: 25px;
    color: coral;
    font-family: 'Changa', Arial, Helvetica, sans-serif;
    background-color: rgb(59, 142, 224);
}

.contato-info {
    display: flex;
    justify-content: center;
    height: 200px;
}

.contato-info li {
    font-size: 20px;
    padding-top: 22px;
}

.contato-info img {
    padding-left: 5px;
}
/*Fim Estilização de Banner Contato*/


/*Início da Estilização de Endereço*/
.endereco {
    flex: 1;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 300px;
    margin-right: 300px;
    padding-top: 15px;
    background-color: rgb(233, 130, 71);
}

.endereco-info{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    font-size: 21px;
    padding-bottom: 15px;
    color: rgba(255, 255, 255, 0.89);
    font-family: 'Lato', Verdana, Geneva, Tahoma, sans-serif;
}

.endereco h3 {
    font-size: 25px;
    font-family: 'Changa', Arial, Helvetica, sans-serif;
}
/*Fim da Estilização de Endereço*/

/*Inicio Estilização de Banner Google Maps*/
.localizacao{
    flex: 1;
    height: 500px;
    margin-bottom: 5px;
}

iframe {
    width:100%;
    height:100%; 
}
/*Fim Estilização de Banner Google Maps*/


/*Inicio Estilização de Banner Rodapé*/
.footer_info {
	font-size: 15px;
	font-family: 'Changa', Arial, Helvetica, sans-serif;
	height: 50px;
	line-height: 50px;
	padding-left: 25px;
}
/*Fim Estilização de Banner Rodapé*/